.list {
  margin-left: 1rem;
  color: inherit;
}
.list li:after {
  content: '.';
}
.stamp {
  text-transform: uppercase;
  color: var(--grapefruit-d);
  position: fixed;
  bottom: 0;
  right: 20px;
  font-size: 6rem;
  transform: rotate(-20deg);
  text-shadow: 8px 8px var(--grapefruit), 20px 20px var(--dark-gray-d);
}

@media screen and (orientation: portrait) {
  .stamp {
    top: auto;
    font-size: 4rem;
  }
}
@media screen and (orientation: landscape) {
  .stamp:after {
    content: ' to live by';
  }
}
