.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon {
  margin: var(--padding);
  color: var(--fgcolor);
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.icon:hover {
  border-bottom: 4px solid var(--linkcolor);
}
.disclaimer {
  font-family: Monaco, monospace;
  font-size: 0.8rem;
  margin: 1rem 0;
  display: block;
}
.disclaimer:before {
  content: '(';
}
.disclaimer:after {
  content: ')';
}
@media screen and (orientation: portrait) {
  .icon {
    width: 32px;
    height: 32px;
  }
}
