@import 'palette.css';

:root {
  --padding: 3px;
  --fgcolor: white;
  --bgcolor: black;
  --linkcolor: var(--bittersweet-d);
  --content-bg: var(--sunflower-d);
  --content-fg: black;
  --avatar-size: 256px;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --fgcolor: black;
    --bgcolor: var(--sunflower-d);
    --linkcolor: black;
    --content-bg: var(--sunflower);
    --content-fg: black;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  color: var(--fgcolor);
  background-color: var(--bgcolor);
  font-size: 1.5rem;
}
a {
  color: var(--linkcolor);
  text-decoration: underline;
  text-decoration-color: var(--bittersweet);
}
em {
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: var(--bittersweet);
}
code {
  font-family: Monaco, monospace;
  border-left: 4px solid var(--bittersweet);
  padding: 1rem 0 1rem 1rem;
}
