@import './nord.css';
@import './variables.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  color: var(--fgcolor);
  background-color: var(--bgcolor);
  font-size: 1.5rem;
  font-weight: lighter;
}
a {
  color: var(--linkcolor);
}
