:root {
  --grapefruit: #ed5565;
  --grapefruit-d: #da4453;
  --bittersweet: #fc6e51;
  --bittersweet-d: #e9573f;
  --sunflower: #ffce54;
  --sunflower-d: #fcbb42;
  --grass: #a0d468;
  --grass-d: #8cc152;
  --mint: #48cfad;
  --mint-d: #37bc9b;
  --aqua: #4fc1e9;
  --aqua-d: #3bafda;
  --blue-jeans: #5d9cec;
  --blue-jeans-d: #4a89dc;
  --lavender: #ac92ec;
  --lavender-d: #967adc;
  --pink-rose: #ec87c0;
  --pink-rose-d: #d770ad;
  --light-gray: #f5f7fa;
  --light-gray-d: #e6e9ed;
  --medium-gray: #ccd1d9;
  --medium-gray-d: #ccd1d9;
  --dark-gray: #656d78;
  --dark-gray-d: #434a54;
}
