:root {
  --padding: 3px;
  --fgcolor: var(--nord4);
  --bgcolor: black;
  --linkcolor: var(--nord8);
  --avatar-size: 256px;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --fgcolor: black;
    --bgcolor: var(--nord4);
    --linkcolor: var(--nord8);
  }
}
@media screen and (orientation: portrait) {
  :root {
    --avatar-size: 40vw;
  }
}
