.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.centeredLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.what3words {
  width: 32px;
  height: auto;
}
.section {
  margin-bottom: 1rem;
}
