.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon {
  margin: var(--padding);
  color: var(--content-fg);
  width: 48px;
  height: 48px;
}
.icon:hover {
  animation: rotation ease-in-out 1s;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.avatar {
  margin-left: calc(50% - var(--avatar-size) / 2);
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 2px solid var(--bgcolor);
  border-radius: 50%;
  width: var(--avatar-size);
  height: var(--avatar-size);
}
.avatar img {
  filter: grayscale(100%);
  border-radius: 50%;
}
@media screen and (orientation: portrait) {
  .icon {
    width: 32px;
    height: 32px;
  }
}
