.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.centeredLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.what3words {
  width: 32px;
  height: auto;
}
.section {
  margin-bottom: 1rem;
}
.bodyText {
  width: 50vw;
  text-align: left;
  margin: 1rem auto 4rem auto;
}
.bodyText a {
  color: var(--nord11);
}
@media screen and (orientation: portrait) {
  .bodyText {
    width: 98vw;
  }
}
