@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: rgb(0, 0, 0);
  --background-color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: rgb(255, 255, 255);
    --background-color: rgb(0, 0, 0);
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}
