:root {
  --spacing: 8px;
  --card-background: rgb(255, 0, 0);
  --card-opacity: 0.92;
  --card-width: 128px;
  --card-height: 32px;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  background-color: black;
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.card {
  background-color: var(--card-background);
  opacity: var(--card-opacity);
  padding: var(--spacing);
  border-radius: var(--spacing);
  color: white;
  text-transform: uppercase;
  width: var(--card-width);
  height: var(--card-height);
  text-align: center;
}
.card a {
  color: white;
  text-decoration: none;
}
