.figure {
  width: var(--avatar-size);
  height: var(--avatar-size);
  margin: calc(var(--padding) * 8) auto;
  cursor: pointer;
}
.image {
  border-radius: calc(var(--avatar-size) / 2);
  width: var(--avatar-size);
  height: var(--avatar-size);
  filter: grayscale(0%);
}
@media screen and (prefers-color-scheme: light) {
  .image {
    transform: scaleX(-1);
  }
}
