.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.header {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.8rem;
}
.main {
  flex-grow: 1;
  justify-content: left;
  width: 100vw;
}
.footer {
  font-size: 1rem;
  padding-bottom: var(--padding);
  text-align: center;
}
.iconLink {
  margin-right: var(--padding);
}
@media screen and (orientation: portrait) {
  .footer {
    padding-bottom: var(--mobile-bottom-padding);
  }
}
