.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  justify-content: flex-start;
  align-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-direction: column;
  margin: 0;
  padding: 0 var(--padding) 0 var(--padding);
  min-width: 140px;
}
.nametag {
  display: flex;
  flex-direction: column;
  color: var(--medium-gray-d);
  /*font-weight: lighter;*/
}
.nametag span {
  text-transform: uppercase;
  text-align: right;
}
.contact {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1rem;
  color: var(--medium-gray-d);
}
.main {
  flex-grow: 1;
  background-color: var(--content-bg);
  color: var(--content-fg);
}
.filler {
  width: 0;
}
@media screen and (orientation: portrait) {
  .wrapper {
    flex-direction: column;
  }
  .main {
    padding-top: 1rem;
  }
  .header {
    flex-direction: row;
    padding: 0;
  }
  .nametag span {
    text-align: left;
  }
  .filler {
    height: 2rem;
  }
}
@media screen and (prefers-color-scheme: light) {
  .nametag,
  .contact {
    color: black;
  }
}
