.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  border-top: 1px solid var(--fgcolor);
}
.icon {
  color: var(--linkcolor);
  margin: calc(2 * var(--padding));
}
