.subtitle {
  font-size: 2rem;
  background-color: var(--nord1);
  padding: var(--title-padding) 0;
}
@media screen and (prefers-color-scheme: light) {
  .subtitle {
    background-color: var(--nord5);
    color: var(--nord3);
  }
}
